@{
    Layout = "";
}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/site.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Stack Overflow</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">Ask Question</a></li>
        </ul>
        <div class="navbar-form navbar-left" action="/action_page.php">
            <div class="input-group">
                <input type="text" class="form-control input-autocomplete" placeholder="Search">
                <div class="autocomplete" style="position: absolute; background: #333;">
                </div>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            @{
                if (!(bool)ViewData["isLogin"])
                {
                    <li><a href="/SignUp/"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                    <li><a href="/Login/"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                }
                else
                {
                    <li><a href="/Profile/"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                    <li><a href="/Logout/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                }
            }
        </ul>
    </div>
</nav>
<div class="col-lg-1">
</div>

<div class="col-lg-10">
    <h2 class="text-center">
        Login
    </h2>
    <form method="post" class="form-group">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Type your username"/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Type your password"/>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control btn submit-btn" value="Login"/>
        </div>
    </form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/site.js"></script>
</body>
</html>
